/* roboto-condensed-300 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    src: url('../../../fonts/roboto-condensed-v25-cyrillic_latin-300.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../../../fonts/roboto-condensed-v25-cyrillic_latin-300.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-condensed-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../../../fonts/roboto-condensed-v25-cyrillic_latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../../../fonts/roboto-condensed-v25-cyrillic_latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-condensed-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('../../../fonts/roboto-condensed-v25-cyrillic_latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../../../fonts/roboto-condensed-v25-cyrillic_latin-700.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000;
    scrollbar-width: thin;
    scrollbar-color: #000 #fff;
}

body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    background-clip: content-box;
}

body::-webkit-scrollbar-thumb {
    background-color: #000;
    border: 5px solid #fff;
    border-top: 0px;
    border-bottom: 0px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #757575;
}

body::-webkit-scrollbar-button {
    background-color: #000;
    border: 5px solid #fff;
}

body::-webkit-scrollbar-button:hover {
    background-color: #757575;
}

*::selection {
    background: #000;
    color: #fff;
}

*::-moz-selection {
    background: #000;
    color: #fff;
}

*::-webkit-selection {
    background: #000;
    color: #fff;
}

.header {
    background-color: #fff;
    position: sticky;
    top: 0;
}

.header_wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 40px;
    position: relative;
    background-color: #fff;
    display: grid;
    grid-template-columns: 80% 20%;
}

.offer_name {
    grid-column: 1;
    align-self: center;
    font-style: normal;
    font-weight: 700;
    font-size: calc(8px + 13 *(100vw / 1720));
    line-height: 35px;
    letter-spacing: 0.02em;
    color: #000;
}

.offer_price {
    grid-column: 2;
    justify-self: end;
    font-style: normal;
    font-weight: 700;
    font-size: calc(8px + 13 *(100vw / 1720));
    line-height: 35px;
    letter-spacing: 0.02em;
    color: #000;
}

.offer_price_for-small-screens {
    grid-column: 2;
    justify-self: end;
    font-style: normal;
    font-weight: 700;
    font-size: calc(8px + 13 *(100vw / 1720));
    line-height: 35px;
    letter-spacing: 0.02em;
    color: #000;
    display: none;
}

.main {
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 40px;
}

.title {
    margin-top: 20px;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: calc(8px + 11 *(100vw / 1720));
    line-height: 35px;
    letter-spacing: 0.02em;
    color: #000;
}

.title_point{
    padding-right: 10px;
    text-align: justify;
    font-style: normal;
    font-weight: 300;
    font-size: calc(6px + 10 *(100vw / 1720));
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #000;
}

.point_cost{
    align-self: center;
    font-style: normal;
    font-weight: 300;
    font-size: calc(6px + 10 *(100vw / 1720));
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #000;
}

.offer_point{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.offer_point:nth-child(2n){
    background-color: rgba(0, 0, 0, 0.1);
}

.decor_line{
    margin-top: 3%;
    border-top: 1px solid #000;
}

.button{
    margin: 3% 0px;
    float: right;
}

.button_back{
    cursor: pointer;
    padding: 16px 50px;
    text-decoration: none;
    font-size: calc(6px + 10 *(100vw / 1720));
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    transition: .2s all linear;
}

.button_back:hover{
    color: #000;
    background-color: #fff;
}

@media (max-width: 820px){
    .button_back{
        padding: 8px 25px;
    }
}

@media (max-width: 591px) {
    .header_wrapper {
        width: 100%;
    }

    .offer_price {
        display: none;
    }

    .offer_price_for-small-screens {
        display: inline-block;
    }

    .main {
        width: 100%;
        margin-top: 10px;
    }

    .title {
        line-height: 15px;
    }
}

@media (max-width: 471px) {
    .title_point {
        width: 85%;
        padding-right: 1%;
        line-height: 16px;
    }

    .point_cost {
        line-height: 16px;
    }
}