/* roboto-condensed-300 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    src: url('../../../fonts/roboto-condensed-v25-cyrillic_latin-300.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../../../fonts/roboto-condensed-v25-cyrillic_latin-300.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-condensed-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../../../fonts/roboto-condensed-v25-cyrillic_latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../../../fonts/roboto-condensed-v25-cyrillic_latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-condensed-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('../../../fonts/roboto-condensed-v25-cyrillic_latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../../../fonts/roboto-condensed-v25-cyrillic_latin-700.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000;
    scrollbar-width: thin;
    scrollbar-color: #000 #fff;
}

body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    background-clip: content-box;
}

body::-webkit-scrollbar-thumb {
    background-color: #000;
    border: 5px solid #fff;
    border-top: 0px;
    border-bottom: 0px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #757575;
}

body::-webkit-scrollbar-button {
    background-color: #000;
    border: 5px solid #fff;
}

body::-webkit-scrollbar-button:hover {
    background-color: #757575;
}

*::selection {
    background: #000;
    color: #fff;
}

*::-moz-selection {
    background: #000;
    color: #fff;
}

*::-webkit-selection {
    background: #000;
    color: #fff;
}

.main_container {
    width: 90%;
    padding: 0 10px;
    margin: 0 auto;
}

h1 {
    margin: 50px 0px 50px 0px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: calc(21px + 15 *(100vw / 1720));
    line-height: calc(22px + 22 *(100vw / 1720));
    letter-spacing: 0.03em;
    color: #000;
}

p {
    margin-bottom: 10px;
    text-align: justify;
    font-style: normal;
    font-weight: 300;
    font-size: calc(14px + 5 *(100vw / 1720));
    line-height: calc(16px + 12 *(100vw / 1720));
    letter-spacing: 0.02em;
    color: #000;
}

span{
    font-weight: 500;
}

li {
    list-style: square inside;
    font-style: normal;
    font-weight: 300;
    font-size: calc(14px + 5 *(100vw / 1720));
    line-height: calc(12px + 10 *(100vw / 1720));
    letter-spacing: 0.02em;
    color: #000;
}

li:nth-child(odd) {
    margin: 10px 0px 10px 0px;
}

.list{
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: #757575;
}

.button{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.button_back{
    cursor: pointer;
    padding: 16px 50px;
    text-decoration: none;
    font-size: calc(12px + 4 *(100vw / 1720));
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    transition: .2s all linear;
}

.button_back:hover{
    color: #000;
    background-color: #fff;
}

@media (max-width: 500px){
    .button{
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
}